{
  "openapi": "3.1.0",
  "info": {
    "title": "ViewSpec Hosted Compiler API",
    "summary": "Compile agent-native ViewSpec IntentBundles into portable UI artifacts and provenance.",
    "description": "ViewSpec is an agent-native UI compiler API for deterministic cross-platform UI generation.",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://github.com/nxrobins/viewspec/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.viewspec.dev",
      "description": "Canonical hosted compiler"
    }
  ],
  "externalDocs": {
    "description": "ViewSpec playground and demos",
    "url": "https://viewspec.dev/"
  },
  "x-viewspec-agent-artifacts": {
    "assetSchemaVersion": 11,
    "assetManifest": "https://viewspec.dev/agent-assets.json",
    "contractProfile": "local_v1",
    "exportCommand": "viewspec export-agent-assets --out .viewspec",
    "checkCommand": "viewspec check-agent-assets .viewspec --json",
    "networkPolicy": "no SDK network calls",
    "systemPrompt": "https://viewspec.dev/agent-system-prompt.txt",
    "intentBundleSchema": "https://viewspec.dev/agent-intent-bundle.schema.json",
    "intentBundleExample": "https://viewspec.dev/agent-intent-example.dashboard.json",
    "appBundleSchema": "https://viewspec.dev/agent-app-bundle.schema.json",
    "appBundleExample": "https://viewspec.dev/agent-app-example.internal-tool.json",
    "agentDocs": "https://github.com/nxrobins/viewspec/blob/main/docs/agent-integration.md"
  },
  "x-viewspec-public-facts": {
    "manifest": "https://viewspec.dev/public-facts.json",
    "sdkVersion": "0.3.0b3",
    "proPriceUsdMonth": 149,
    "proHostedCompileCallsPerDay": 10000,
    "proArtifactTargets": ["html-tailwind", "react-tsx", "swiftui", "flutter"],
    "proSignedUsageReceipts": true,
    "firstProofCommand": "viewspec prove --out .viewspec-proof",
    "proofSummaryFile": ".viewspec-proof/PROOF.md",
    "proofReportFile": ".viewspec-proof/proof_report.json",
    "proofSupportBundleFile": ".viewspec-proof/support_bundle.json",
    "proofIdentityMetadataKey": "proof_identity",
    "proofIdentityHashFields": [
      "artifact_hash",
      "manifest_hash",
      "proof_report_hash",
      "proof_summary_hash",
      "support_bundle_hash"
    ],
    "proofHostAssertionRequirements": {
      "report_key": "assertion_requirements",
      "base_minimums": {
        "dom_count": 1,
        "style_assertion_count": 4
      },
      "manifest_derived_fields": [
        "aesthetic_layout_assertion_count",
        "aesthetic_profile_assertion_count",
        "grid_span_assertion_count"
      ],
      "all_fields": [
        "aesthetic_layout_assertion_count",
        "aesthetic_profile_assertion_count",
        "dom_count",
        "grid_span_assertion_count",
        "style_assertion_count"
      ]
    },
    "appbundleStateIrDemoUrl": "https://viewspec.dev/appbundle-state-ir/",
    "appbundleStateIrProfile": "interactive_state_v0",
    "appbundleStateIrReducerArtifact": "state_reducer.ts",
    "appbundleStateIrReducerExport": "reduceViewSpecState",
    "appbundleStateIrReplayField": "state_replay_assertions",
    "appbundleStateIrProofCommandShort": "viewspec prove-app --with-shell",
    "appbundleStateIrProofCommand": "viewspec prove-app --app viewspec.app.json --out .viewspec-app-proof --with-shell --json",
    "agentAssetManifest": "https://viewspec.dev/agent-assets.json",
    "agentAssetSchemaVersion": 11,
    "agentAssetContractProfile": "local_v1",
    "agentAssetIntentSchemaId": "https://viewspec.dev/agent-intent-bundle.schema.json",
    "agentAssetAppSchemaId": "https://viewspec.dev/agent-app-bundle.schema.json",
    "agentAssetExportCommand": "viewspec export-agent-assets --out .viewspec",
    "agentAssetCheckCommand": "viewspec check-agent-assets .viewspec --json",
    "agentAssetNetworkPolicy": "no SDK network calls"
  },
  "paths": {
    "/v1/plans": {
      "get": {
        "operationId": "listViewSpecPlans",
        "summary": "List public plans and enforced limits",
        "tags": ["commerce"],
        "responses": {
          "200": {
            "description": "Versioned public plan catalog",
            "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}
          }
        }
      }
    },
    "/v1/artifacts": {
      "post": {
        "operationId": "compileViewSpecArtifact",
        "summary": "Compile and deliver a verified paid artifact",
        "description": "Returns inline text files with media types and SHA-256 hashes, deterministic build identity, provenance, diagnostics, and quota metadata.",
        "tags": ["compiler"],
        "security": [{"bearerAuth": []}, {"apiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target", "bundle"],
                "properties": {
                  "target": {"type": "string", "enum": ["html-tailwind", "react-tsx", "swiftui", "flutter"]},
                  "bundle": {"$ref": "#/components/schemas/CompileRequestPayload"}
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Integrity-addressed artifact response", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}},
          "403": {"description": "Paid plan required"},
          "413": {"description": "Generated artifact exceeds output limits"},
          "422": {"description": "Invalid bundle or unsupported target"}
        }
      }
    },
    "/v1/usage": {
      "get": {
        "operationId": "getViewSpecUsage",
        "summary": "Read customer-level usage and signed receipt",
        "tags": ["commerce"],
        "security": [{"bearerAuth": []}, {"apiKeyAuth": []}],
        "responses": {
          "200": {"description": "Usage totals and HMAC-SHA256 receipt", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}},
          "401": {"description": "Paid API key required"}
        }
      }
    },
    "/v1/checkout/claim": {
      "post": {
        "operationId": "claimViewSpecCheckoutKey",
        "summary": "Claim a purchased API key once",
        "tags": ["commerce"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["session_id"], "properties": {"session_id": {"type": "string"}}, "additionalProperties": false}}}},
        "responses": {
          "200": {"description": "One-time API key response"},
          "404": {"description": "Webhook-backed checkout is not ready"},
          "409": {"description": "Checkout key was already claimed"}
        }
      }
    },
    "/v1/keys/rotate": {
      "post": {
        "operationId": "rotateViewSpecApiKey",
        "summary": "Rotate and revoke the current paid API key",
        "tags": ["commerce"],
        "security": [{"bearerAuth": []}, {"apiKeyAuth": []}],
        "responses": {"200": {"description": "One-time replacement API key"}, "401": {"description": "Invalid API key"}}
      }
    },
    "/v1/keys/current": {
      "delete": {
        "operationId": "revokeViewSpecApiKey",
        "summary": "Revoke the current paid API key",
        "tags": ["commerce"],
        "security": [{"bearerAuth": []}, {"apiKeyAuth": []}],
        "responses": {"200": {"description": "Key revoked"}, "401": {"description": "Invalid API key"}}
      }
    },
    "/v1/compile": {
      "post": {
        "operationId": "compileViewSpecIntentBundle",
        "summary": "Compile a ViewSpec intent bundle",
        "description": "Compiles semantic substrate and view_spec JSON into CompositionIR, style values, diagnostics, timing metadata, quota metadata, and provenance-aware UI artifacts.",
        "tags": ["compiler"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompileRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compiled UI artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed intent bundle"
          },
          "401": {
            "description": "Invalid or missing API key for a protected tier"
          },
          "429": {
            "description": "Quota exceeded"
          }
        }
      },
      "options": {
        "operationId": "compileViewSpecCorsPreflight",
        "summary": "CORS preflight for compile endpoint",
        "responses": {
          "200": {
            "description": "CORS headers accepted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer"},
      "apiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-API-Key"}
    },
    "schemas": {
      "CompileRequestPayload": {
        "type": "object",
        "description": "Hosted compile request envelope: IntentBundle root fields plus hosted-only compiler context such as DESIGN.md and custom motif libraries. Local validate-intent accepts IntentBundle fields only and rejects hosted-only root context.",
        "required": ["substrate", "view_spec"],
        "properties": {
          "substrate": {
            "$ref": "#/components/schemas/Substrate"
          },
          "view_spec": {
            "$ref": "#/components/schemas/ViewSpec"
          },
          "motif_library": {
            "type": "object",
            "description": "Optional hosted compiler custom motif library.",
            "additionalProperties": true
          },
          "design": {
            "$ref": "#/components/schemas/DesignRequest"
          }
        },
        "additionalProperties": true
      },
      "IntentBundle": {
        "type": "object",
        "description": "Agent-authored source contract: semantic substrate plus view_spec. Hosted-only request context such as design and motif_library belongs in CompileRequestPayload, not the local IntentBundle contract.",
        "required": ["substrate", "view_spec"],
        "properties": {
          "substrate": {
            "$ref": "#/components/schemas/Substrate"
          },
          "view_spec": {
            "$ref": "#/components/schemas/ViewSpec"
          }
        },
        "additionalProperties": true
      },
      "DesignRequest": {
        "type": "object",
        "required": ["format", "content"],
        "properties": {
          "format": {
            "type": "string",
            "const": "design.md"
          },
          "content": {
            "type": "string",
            "description": "Opaque DESIGN.md content. Parsing, linting, cycle detection, and token mapping are owned by the API."
          },
          "lint": {
            "type": "boolean",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "Substrate": {
        "type": "object",
        "required": ["id", "root_id", "nodes"],
        "properties": {
          "id": { "type": "string" },
          "root_id": { "type": "string" },
          "nodes": {
            "type": "object",
            "description": "Dictionary of substrate nodes keyed by node ID.",
            "additionalProperties": {
              "$ref": "#/components/schemas/SubstrateNode"
            }
          }
        },
        "additionalProperties": true
      },
      "SubstrateNode": {
        "type": "object",
        "required": ["id", "kind", "attrs", "slots", "edges"],
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string" },
          "attrs": { "type": "object", "additionalProperties": true },
          "slots": { "type": "object", "additionalProperties": true },
          "edges": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": true
      },
      "ViewSpec": {
        "type": "object",
        "required": ["id", "substrate_id", "complexity_tier", "root_region", "regions", "bindings", "groups", "motifs"],
        "properties": {
          "id": { "type": "string" },
          "substrate_id": { "type": "string" },
          "complexity_tier": { "type": "integer", "minimum": 1 },
          "root_region": { "type": "string" },
          "regions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "bindings": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "groups": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "motifs": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "styles": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "actions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "projections": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "inputs": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "rules": { "type": "array", "items": { "type": "object", "additionalProperties": true } }
        },
        "additionalProperties": true
      },
      "CompileResponse": {
        "type": "object",
        "required": ["ast"],
        "properties": {
          "ast": {
            "type": "object",
            "description": "Compiled CompositionIR bundle and style values.",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/CompileResponseMeta"
          },
          "derivations": {
            "type": "array",
            "description": "Hosted compiler derivation token explanations when available.",
            "items": { "type": "object", "additionalProperties": true }
          },
          "quota": {
            "type": "object",
            "description": "Quota information when returned by the hosted API.",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CompileResponseMeta": {
        "type": "object",
        "description": "Compiler timing, tier, usage, diagnostic metadata, and optional DESIGN.md validation results.",
        "properties": {
          "design": {
            "$ref": "#/components/schemas/DesignMetadata"
          }
        },
        "additionalProperties": true
      },
      "DesignMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "lint_summary": {
            "type": "object",
            "required": ["errors", "warnings", "info"],
            "properties": {
              "errors": { "type": "integer", "minimum": 0 },
              "warnings": { "type": "integer", "minimum": 0 },
              "info": { "type": "integer", "minimum": 0 }
            },
            "additionalProperties": false
          },
          "findings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DesignFinding"
            }
          },
          "applied_tokens": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "inferred_hints": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "ignored_tokens": {
            "type": "array",
            "items": { "type": "string" }
          },
          "dropped_tokens": {
            "type": "array",
            "description": "Tokens dropped by API cycle detection.",
            "items": { "type": "string" }
          }
        },
        "additionalProperties": true
      },
      "DesignFinding": {
        "type": "object",
        "required": ["severity", "code", "path", "message"],
        "properties": {
          "severity": {
            "type": "string",
            "enum": ["error", "warning", "info"]
          },
          "code": { "type": "string" },
          "path": { "type": "string" },
          "message": { "type": "string" }
        },
        "additionalProperties": false
      }
    }
  }
}
